{% load static %}
{% include "base_templates/header.html" %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Contato - Car Store</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
</head>
<body>
        <h1>Carros a venda</h1>
        <div class="container novidades">
          <section class="painel novidades">
            <h2>Novidades - Zero km</h2>
            <ol>
              <li>
                <a href="">
                  <figure>
                    <img src="{% static '/img/chery-icar-3-1.webp' %}">
                    <figcaption> Caoa Chery Icar (R$ 119.990,00) </figcaption>
                  </figure>
                </a>
              </li>
              <li>
                <a href="">
                  <figure>
                    <img src="{% static '/img/jac_e-JS1_1-e1624887311581.webp' %}">
                    <figcaption> Caoa Chery Icar (R$ 126.990,00) </figcaption>
                  </figure>
                </a>
              </li>
              <li>
                <a href="">
                  <figure>
                    <img src="{% static '/img/Renault-Kwid-E-Tech-Eletrico.webp' %}">
                    <figcaption> Caoa Chery Icar (R$ 199.990,00) </figcaption>
                  </figure>
                </a>
              </li>
              <li>
                <a href="">
                  <figure>
                    <img src="{% static '/img/BYD-Dolphin-1.webp' %}">
                    <figcaption> Caoa Chery Icar (R$ 149.800,00) </figcaption>
                  </figure>
                </a>
              </li>
            </ol>
            
        </div>
{% include "base_templates/footer.html" %}
</body>

</html>