{% load static %}
{% include "base_templates/header.html" %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Contato - Car Store</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
</head>

<body>
  <div class="container novidades">
    <div class="painel novidades">
      <div class="car-list">
        <div class="car-card">
          <img src="{% static '/img/Maverick-GT.jpg' %}">
          <h3 class="car-title">Ford Maverick-GT </h3>
          <p class="car-price">(Preço sob consulta)</p>
          <div class="car-description">
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "base_templates/footer.html" %}
</body>

</html>