{% load static %}
{% include "base_templates/header.html" %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Contato - Car Store</title>

  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>

<body>
  <div class="container novidades">
    <div class="painel novidades">
      <div class="car-list">
        <div class="car-card">
          <img src="{% static '/img/Maverick-GT.jpg' %}">
          <h3 class="car-title">Ford Maverick-GT - 1974 </h3>
          <p class="car-price">(Preço sob consulta)</p>
          <div class="car-description">
            <!-- Conteúdo da descrição do carro -->
          </div>
        </div>

        <div class="car-card">
          <img src="{% static '/img/Fiat-Uno-ie.jpg' %}">
          <h3 class="car-title">Fiat Uno Turbo Ie - 1994</h3>
          <p class="car-price">(Preço sob consulta)</p>
          <div class="car-description">
            <!-- Conteúdo da descrição do carro -->
          </div>
        </div>

        <div class="car-card">
          <img src="{% static '/img/gol-gti.jpeg' %}">
          <h3 class="car-title">Volkswagem Gol GTI - 1990</h3>
          <p class="car-price">(Preço sob consulta)</p>
          <div class="car-description">
            <!-- Conteúdo da descrição do carro -->
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "base_templates/footer.html" %}
</body>

</html>
