{% load static %}
{% include "base_templates/header.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  <title>Car Store</title>
</head>

<body>
  <div class="container novidades">
    <div class="painel novidades">
      <div class="car-list">
        <div class="car-card">
          <img src="{% static '/img/Maverick-GT.jpg' %}">
          <h3 class="car-title">Ford Maverick-GT </h3>
          <div class="car-description">
            <h4>Descrição:</h4>
            <h4>O Maverick foi lançado em 1973 e era equivalente ao modelo americano V8 302 e fez muito sucesso na
              década de 70.
              O veículo possuía câmbio de 5 marchas e ia de 0 a 100 km/h em 11,6 segundos.
              Considerado por muitos como um Muscle Car, tornou-se um dos grandes concorrentes do Opala SS e seu modelo
              foi descontinuado em 1979, nesse período, foram comercializadas mais de 100 mil unidades do carro.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "base_templates/footer.html" %}
</body>

</html>