{% load static %}
{% include "base_templates/header.html" %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Contato - Car Store</title>

  <link rel="stylesheet" type="text/css" href="{% static 'sobre.css' %}">
</head>
</head>

<div class="mission-vision-values">
  <div id="mission-vision-values">
    <h4>Missão:</h4>
    <p>Nossa missão é proporcionar a entusiastas e colecionadores de carros antigos a oportunidade de adquirir e
      desfrutar de peças raras da história automobilística. Estamos comprometidos em preservar a autenticidade e
      a beleza dos carros esportivos antigos, oferecendo qualidade e serviços excepcionais.</p>
    <h4>Visão:</h4>
    <p>Nossa visão é ser a principal referência no mercado de carros esportivos antigos, oferecendo uma seleção
      excepcional de veículos clássicos que contam histórias únicas e apaixonantes.</p>
    <h4>Valores:</h4>
    <ul>
      <li>Paixão pela história automobilística;</li>
      <li>Integridade e transparência em todas as transações;</li>
      <li>Compromisso com a preservação e restauração de carros clássicos;</li>
      <li>Satisfação do cliente acima de tudo;</li>
      <li>Inovação contínua e aprendizado constante.</li>
    </ul>
  </div>
</div>


<body>

  {% include "base_templates/footer.html" %}
</body>

</html>