{% load static %}
<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>

<body>
  <header>
    <div class="container">
      <div class="logo">
        <h1>Car Store - A sua loja de carros antigos esportivos do Sul de Minas</h1>
      </div>
      <nav>
        <ul>
          <li><a href="/home">Início</a></li>
          <li><a href="/estoque">Estoque</a></li>
          <li><a href="/contato">Contato</a></li>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/cadastro">Cadastro</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </div>

  </header>
</body>

</html>