<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="logo">
        <h1>Car Store - A sua loja de carros elétricos do Sul de Minas</h1>
      </div>
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/carrosnovos">Carros Novos</a></li>
          <li><a href="/carrosusados">Carros Usados</a></li>
          <li><a href="/contato">Contato</a></li>
          <li><a href="/sobre">Sobre</a></li>
        </ul>
      </nav>
    </div>
  </header>
</body>
</html>